body {
  /*  background-image : url("http://x.annihil.us/u/prod/marvel/i/mg/8/b0/537ba702ad5b3.gif");*/
  background-color: rgb(236, 234, 234);
   
  }
  
  .containerChar {
     background-color: BLACK(255, 0, 0, 0.5)
    
  }
  
  h1 {
    background-color:white;
    color:black;
    margin:0;
    padding:50px;
  }

  
  .button {
    background-color: #eb5de9;
    padding: 2px;
    border-radius: 6px;
    border: 0px;
    color: white;
    width: 100%;
  }
